.mywrapper {
  position: relative;
}

button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

#fullscreenIcon {
  width: 32px;
  height: 32px;
  fill: red;
}

/* Optionally, add some hover effects */
button:hover svg {
  fill: #007bff;
}
